In [109]:
import pandas as pd
import numpy as np

In [110]:
data = pd.read_csv('data/dfGoogle.csv')
data = data.drop('ID', axis=1)
data

,Event,Tie,Chin,Smile,Hat,Font,Forehead,Gesture,Joy,Person,...,domingo,quarta-feira,quinta-feira,segunda-feira,sexta-feira,sábado,terça-feira,Perfil,Hashtag,Texto
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0,0,1,0,0,0,0,1,1,0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0,0,1,0,0,0,0,0,1,1
2,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,0,1,0,0,0,0,1,1,0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0,0,1,0,0,0,0,1,1,0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,1,1
565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,0,1,1
566,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0,0,0,0,0,1,0,0,1,1
567,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0,0,0,0,0,1,0,0,1,1
568,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,1

In [111]:
x_data = data.drop('Curtidas', axis=1).values
y_data = data['Curtidas'].values

In [112]:
x_data

array([[1., 0., 0., ..., 1., 1., 0.],
       [0., 0., 1., ..., 0., 1., 1.],
       [0., 0., 0., ..., 1., 1., 0.],
       ...,
       [1., 0., 0., ..., 0., 1., 1.],
       [0., 1., 0., ..., 0., 1., 1.],
       [0., 0., 0., ..., 0., 1., 1.]])

In [113]:
y_data

array([  24400,   11700,    9163,    3485,   22100,   33600,  115700,
         34600,    3958,   11900,   47500,    8068,   22400,   41200,
         12000,  394000,    4634,    5384,    8871,   13700,   25100,
        198100,   10200,   24000,    6123,    4641,   18500,    2368,
         13100,    4149,   18100,    4147,   45200,    6987,   17200,
          4583,    5284,    6533,  146400,   33900,   25800,   58600,
         12100,   28800,    8903,    3919,   20600,   38700,    7606,
          2963,    4977,    5682,   10200,   60500,    9316,    6988,
          9152,    6434,    9393,    5828,   61500,   39500,   16000,
          8219,   52500,   13500,    4833,   11300,    4895,    2647,
          3259,    2937,    3969,  258200,   28400,    4373,   16500,
         12100,   52300,   13600,    4103,   15600,   44500,    4337,
          4326,  175600,  140600,  390100,   16000,   18900,  439500,
         16800,  290000,    3974,   25600,   23700,    9521,  302300,
         12200,    6733,    7734,    5628,   66500,   18200,   15700,
         49400,  411100,    6493,   62100,  169400,  811800,   42500,
         97700,   36000,   15300,    6908,    6217,   39100,   16700,
         22800,   34500,   23600,   35000,   29900,    4255,   97500,
          6290,   67300,    5511,    8819,    5086,    3638,   10200,
         11000,  704800,   29100,    4455,   11400,  316700,   11500,
          5980,  177600,   12100,   15300,    9951,   30300,   28300,
         92600,  117700,    5651,    6656,  181300,   11200, 1200000,
         12300,    6821,   57500,   11800,   15400,    8122,    5674,
         21500,  449900,  313300,   22900,  109500,   17700,    4228,
          4028,    9170,   30400,    2804,   12500,   31300,   83500,
         39600,    7514,   80000,    4090,   14700,   64500,  409100,
         39400,    8850,   33300,   13300,   12800,   43700,   15700,
          7550,   33800,   16800,    8319,   12700,  209500,    7880,
          7615,   15400,    9992,   19900,   13800,   38700,   13500,
         13800,  216400,   47600,    7828,   31500,   62700,    7890,
        867300,  107500,   16300,   21800,    4731,   38100,   35400,
         16500,  428000,   50500,  767700,  217600,  418400,  591800,
         45800,    5122,   25900,    8729,   20700,  172400,   15700,
         28500,   32800,    4431,   36700,   11500,   33400,   30400,
        304300,   55500,  283400,   33100,   30300,    5986,  177300,
         29300,   31000,   88200,   30100,   43700,   13200,   33400,
         15600,   44900,   19900,   22900,  581300,   29000,   52600,
         25000,   63000,   71800,    4734,   10800,   53900,    7327,
         16200,    3543,  112700,    5298,   89000,    4938,   11800,
         15400,   10700,   20400,   86900,   84400,   73300,  249800,
         20500,    8911,   10900,    9019,   14700,  208100,   22700,
          2725,   14200,    5180,   95200,    7257,    5434,   21800,
         18300,    2233,   42400,   16500,   10400,    2764,    5456,
         10500,    3863,    5339,   79200,   12300,   44800,  184300,
         32200,   22300,    4313,    4421,   10700,   96600,   25600,
        116700,  632300,   17600,   53000,  168200,    5619,    2912,
         16600,   41300,    2644,    8378,  145400,    8912,   24000,
         18300,  135800,   10700,   39000,   99000,    8667,   20300,
         32700,   11300,    6714,  159300,    4663,  263300, 1600000,
          6654,    5346,   31000,   41200,   18900,   58600,    6085,
        407300,   56500,   27200,   39200,   10800,   28300,   91300,
         73200,   60700,   13900,   38300,  657600,    6313,   16300,
          7335,   54700,  273700,    7442,  520700,  264000,    8760,
         26000,   13200,   15200,   98400,   72200,   28300,   15800,
        494000,   58600,  183500,   19700,   19100,  611400,   74700,
        140200,   26900,   25700,   23600,   15800,   24600,    8635,
         15000,   51600,    9982,  283000,   15600,   77300,   24400,
       1700000,   19900,  312100,   33700,  652100,   18200,    7807,
        676800,  123300, 1200000,  240500,  128000, 1000000,   39300,
         32400, 1100000,  134100,  248500,   46500,   10500,  135800,
         37900,   86900,  409400,   28300,   16800,    9596,  368400,
         34000,   43000,  103000,  415700,   61200,   84200,   44300,
         49200,   42200,  321200,   81700,   98300,  152500,   33400,
        197700,   23200,   61600,  240600,  105100,   19300,    6642,
         17200,   18000,   12900,  114200,  251600,  495700,  110000,
         58700,   20200,   41900,   14500,   11500,    9137,   24500,
         20800,  416200,   32400,  165600,  105800,   60100,   37400,
         23000,  292600,   16400,   41800,   14300,  208300,    9456,
         52900,   21400,  110100,   35200,   32600,  332600,  910500,
         19100,   56700,  119600,  238100,   20900,  151200,   48600,
          6616,   22200,   13100,   68600,   12400,   10100,   52700,
          5242,   12500,  251900,    4605,   10400,   15600,   20400,
        111800,   21800,   19800,    8927,   41000,   18500,   76300,
         29800,    5617,   34800,   54100,  837500,  175400,   18400,
         41500,  143700,    5981,  125200,   28400,    6956,    5439,
          9218,   38700,   10700,   34900,   40900,  114300,   15400,
          3106,  759100,   26200,   18100,   15900,   80300,   20800,
         15400,   52500,  426600,   97200,   97200,    6490,    3039,
         40400,   48900,    1712,  401100,  156000,  332800,   27900,
        215400,  110500,   61300,  104900,   36600,   95300,  240900,
        109600,   52100,   10600,    4576,   23500,   33900,   25000,
          4807,   17100], dtype=int64)

## Separando dados de treino

In [114]:
from sklearn.model_selection import train_test_split

In [115]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.1, random_state=42)

In [116]:
x_train.shape, y_train.shape

((512, 21), (512,))

In [117]:
x_test.shape, y_test.shape

((57, 21), (57,))

In [118]:
y_test

array([216400,   3259,   3638,  61200,  52500,   4807, 264000,   4149,
        15600,  21400,  41900,   4228, 109500,  18300,  10700,   4337,
        29800, 104900,   5628,  18100, 258200,   9982,  51600,   9596,
        12300,  16500,  74700,  61300,   6313,   3969, 332800,  15400,
        16800,   3106, 418400,   6988,  47500,   8911, 115700, 439500,
        15700,  39200, 409400, 107500,  20400, 169400,   5981,  36600,
        15400,  14700,  53900,  18100,  62700,  34900,  30300,  32400,
         5619], dtype=int64)

In [121]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression(
  n_jobs=1,
)
lr.fit(x_train, y_train)
previ = lr.predict(x_test)
lr.score(x_test, y_test)

-0.46399460553609106

In [123]:
previ.shape

(57,)

In [126]:
y_test.shape

(57,)

In [131]:
from sklearn.tree import DecisionTreeRegressor
dtr3 = DecisionTreeRegressor(max_depth=2)
dtr3.fit(x_train, y_train)
dtr3.score(x_test, y_test)

-0.12524371676959145

array([148297.65481261,  79248.80183438,  12218.85930092, 172822.93353861,
        25594.59448548, 215511.3564236 , 124147.97004532, 143922.60551281,
        40027.92004047,  82765.81494989,  18423.45980793,  90920.49838366,
       215471.11506079,  91240.44040833,  94351.87888387, 145778.39667665,
       116536.73154771,  85258.30042839,  91425.16366461, 172639.8879217 ,
        74464.07408999, 109648.22196764, 148574.53091856,  34705.17818309,
       199088.67069085, 112346.13838952,  10993.62537065, 149111.99706055,
         5151.37071149,  90294.43182647, 150523.01516744,  74211.8448457 ,
       246896.5842924 ,  -4181.99476791,  68964.99857876, 160448.57283022,
       126125.44221   , 175232.11168035,  78788.21545215,  37209.01525102,
        58120.81653404,  -8119.15045985, 178733.2463645 ,  16732.5046421 ,
       117339.071671  ,  49668.96318001,  38248.40740136,  98360.02317766,
       180534.85861069, 224073.86223208, 134340.61369575, 193910.86608348,
        69476.35721753, 143189.260548  ,  87357.76466432, 120815.0665991 ,
        64561.60731795])